
.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    // width: 100vw;
    // min-height: 100vh;
    padding: 50px;
    text-align: center;
}

.container.show-nav {
    transform: rotate(-20deg);
    width: 65%;
    padding-top: 15%;
}

.circle-container {
    position: fixed;
    top: -20px;
    left: -20px;
}

.circle {
    background-color: #ff7979;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.container.show-nav .circle {
    // transform: rotate(-70deg);
}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 23px;
    left: 20px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.container.show-nav+nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    // position: fixed;
    // bottom: 40px;
    // left: 0;
    // z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: -1;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    align-items: flex-end;
}

.bg-black{
    background-color: black;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

nav ul li+li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li+li {
    margin-left: 30px;
    transform: translateX(-200%);
}

nav ul li+li+li {
    margin-left: 60px;
    transform: translateX(0%);
}

nav a {
    color: #fafafa;
    text-decoration: none;
    transition: all 0.5s;
}

nav a:hover {
    color: #FF7979;
    font-weight: bold;
}

.content img {
    max-width: 60%;
}

.content {
    // max-width: 1000px;
    // margin: 50px auto;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}